.header {
    margin: 0;
    padding: 0;
}
.header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}


.header ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header ul li a:hover {
  background-color: #111111;
}
